In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("tabela_campeonato.xlsx")
df

,Times,Partidas_jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_sofridos,Saldo_gols,Pontos
0,Vasco,310,7,2,1,22,10,12,23
1,Cruzeiro,10,6,1,3,16,15,1,19
2,Palmeiras,10,5,3,2,18,12,6,18
3,Fluminense,10,4,3,3,14,16,-2,15
4,Botafogo,10,3,2,5,10,20,-10,11